# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\major\artificial intelligence\graduation project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
